#login
  %h1 Please log in.
  %p We use <a href="http://openid.net/">OpenID</a> for our logins. OpenID eliminates the need for multiple usernames across different websites, simplifying your online experience.
  - if flash[:error]
    %p.error= flash[:error]
  - form_tag session_path, :method => :post do
    = label_tag :openid_url, "Your OpenID:"
    = text_field_tag :openid_url, "http://", :style => "width: 100%; font-size: 1.8em; margin-bottom: 0.6em"
    - if Rails.env.development?
      = label_tag(:skip_openid, "#{check_box_tag(:skip_openid)} Skip verification (only available in dev mode)", :style => "margin-bottom: 1em")
    %p{:style => "text-align: center"}= submit_tag 'Log me in', :style => "font-size: 1.6em"

