<p>
  <b>Title:</b>
  <%=h @topic.title %><br/>
  <b>Tags:</b>
  <%=h @topic.tag_list %>
  <%= debug @topic.posts %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
