!!! XML
!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %title Forum
    %meta{ 'http-equiv'=>"content-type", :content=>"text/html;charset=UTF-8" }
    = stylesheet_link_tag 'screen'
    = javascript_include_tag :defaults
  %body
    #masthead
      %ul
        %li{ :class => current?('topics') }= link_to "Topics", topics_path
        %li{ :class => current?('tags') }=   link_to "Tags", tags_path
        %li{ :class => current?('search') }= link_to "Search", "#notimplemented"

        - if @current_user
          %li.right.logout= link_to "Log Out", logout_path
          %li.right{ :class => current?(url_for(@current_user)) }= link_to "Profile", @current_user
        - else
          %li.right= link_to "Log In", login_path

    #content
      = yield